#about{
    padding: clamp(50px,8vw,100px) clamp(20px,8vw,150px);
}

.about-main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-service-text{
    color: rgba(255,255,255,0.59);
    font-size: clamp(18px,2vw,25px);
}

.about-header-text{
    font-weight: 600;
    font-size: clamp(36px,5vw,60px);
    margin: 0;
    color: rgb(255,255,255);
}

.about-header-div{
    display: flex;
    flex-direction: column;
}

.about-details-div{
    display: flex;
    align-items: top;
    gap: clamp(30px,6vw,100px);
    margin-top: clamp(40px,5vw,70px);
}

.about-details{
    display: flex;
    flex-direction: column;
    gap: clamp(12px,2vw,20px);
}

.details-quantity{
    font-weight: bold;
    font-size: clamp(42px,6vw,70px);
    white-space: nowrap;
    margin: 0;
    color: rgb(255,255,255);
}

.details-text{
    color: rgba(255,255,255,0.59);
    white-space: nowrap;
    font-size: clamp(16px,1.8vw,20px);
    margin: 0;
}

.about-details-text{
    color: rgba(255,255,255,0.59);
    font-size: clamp(16px,1.8vw,20px);
    margin: 0;
    line-height: clamp(28px,4vw,50px);
}

@media(max-width:1460px){
    .about-details-div{
        flex-direction: column;
        gap: 30px;
    }
}