#footnote{
    background-color: rgb(50,50,50);
    color: white;
    padding: clamp(20px,3vw,30px);
}

.footnote-main-div{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: clamp(20px,3vw,30px);
}

.footer-socials-icon{
    width: clamp(24px,2vw,30px);
}

.footer-social-media-div{
    display: flex;
    flex-direction: column;
}

.footer-nav-links{
    text-decoration: none;
    color: white;
    font-size: clamp(18px,2vw,25px);
}

.footer-navigation-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(25px,4vw,50px);
}

.footer-social-media-title{
    font-size: clamp(26px,3vw,35px);
    margin-top: 0;
    color: white;
}

.footer-contact-div{
    display: flex;
    flex-direction: column;
}

.footer-contact-text{
    font-size: clamp(18px,2vw,25px);
    margin-top: 0;
    color: white;
}

.footer-contact-email{
    color: rgb(255,120,120);
    text-decoration: underline;
    cursor: pointer;
}

@media(max-width:1150px){
    .footnote-main-div{
        grid-template-columns: 1fr;
    }
}

@media(max-width:1000px){
    .footer-navigation-div{
        grid-template-columns: 1fr;
    }
}