#footnote{
    background-color: rgb(50,50, 50);
    color: white;
    padding: 30px 30px;
}

.footnote-main-div{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 30px;
}

.footer-socials-icon{
    width: 30px;
}

.footer-social-media-div{
    display: flex;
    flex-direction: column;
}

.footer-nav-links{
    text-decoration: none;
    color:  white;
    font-size: 25px;
}

.footer-navigation-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.footer-social-media-title{
    font-size: 35px;
    margin-top: 0px;
    color: white;
}

.footer-contact-div{
    display: flex;
    flex-direction: column;
}

.footer-contact-text{
    font-size: 25px;
    margin-top: 0px;
    color: white;
}

.footer-contact-email{
    color: rgb(255,120,120);
    text-decoration: underline;
    cursor: pointer;
}

@media(max-width: 1150px){
    .footnote-main-div{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 1000px){
    .footer-navigation-div{
        grid-template-columns: 1fr;
    }
}