body{
    font-family: 'Inter';
    margin: 0px;
}

html{
    scroll-behavior: smooth;
}

.left-header-link{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: clamp(15px,2vw,30px);
    text-decoration: none;
    color: black;
}

.mid-header{
    display: flex;
}

.header-logo{
    font-size: clamp(20px,2vw,25px);
}

.navigation{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 clamp(12px,2vw,20px);
    position: fixed;
    background-color: white;
    left: 0;
    right: 0;
    z-index: 10;
}

.home-title-div{
    margin-top: clamp(0px,115px, 300px);
    color: white;
}

.home-title-text{
    font-size: clamp(48px,8vw,100px);
}

.theme-button{
    width: clamp(65px,6vw,80px);
    height: clamp(35px,4vw,42px);
    border-radius: 20px;
    border: none;
    background-color: rgba(192,192,192,0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: transform 2s ease;
}

.display-div{
    background-color: white;
    width: 50%;
    border-radius: 20px;
    height: clamp(28px,3vw,35px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-button-image{
    width: clamp(16px,2vw,20px);
}

#home{
    background-image: url('../images/BfzHMbR-s8Xk-iqOLHi_VdUPv37hqKxaavbz8rlAVEGgX5o17VvgFQR3liEHetxcW-nrYlKfiTbTqJMUyx7n7NjAFKeNyxZ5QmYump9uOnFqYZqsSx5XSgadNKVa_HKq80ACPnDaUBGRZXpLhzaok2Sf72POivcv-wSywv0sG8iIxlCsk644A_9ej9xGARQx.jpeg');
    background-size: cover;
    background-position: center;
    margin: 0;
    width: 100%;
    min-height: 120vh;
    display: flex;
    padding-top: clamp(70px,8vw,100px);
}

.home-nav a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.home-nav{
    display: flex;
    gap: clamp(20px,3vw,40px);
}

.home-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.left-home-header{
    display: flex;
    color: white;
    align-items: center;
    gap: clamp(10px,2vw,20px);
}

.right-home-header{
}

.home-header-logo{
    width: clamp(60px,8vw,100px);
    transform: scaleX(-1);
}

.business-name{
    font-size: clamp(24px,4vw,40px);
    white-space: nowrap;
    font-weight: 500;
}

.nav-text{
    font-size: clamp(18px,2vw,25px);
    color: white;
    font-weight: 600;
}

.nav-text:hover{
    color: rgba(255,255,255,0.47);
}

.nav-text:active{
    color: rgba(255,255,255,0.37);
}

.phone-number:hover{
    color: white;
}

.home-main-div{
    width: 85%;
    
    padding-left: clamp(20px,6vw,100px);
}

.quote-request{
    position: absolute;
    background-color: white;
    right: 5%;
    max-width: 800px;
    top: 100%;
    height: 600px;
    padding: clamp(20px,3vw,50px);
    border-radius: 10px;
    font-size: clamp(18px,2vw,27px);
}

.quote-request-button{
    transition: opacity 0.2s ease;
    background-color: rgb(236,93,88);
    border: none;
    border-radius: 5px;
    padding: clamp(18px,2vw,25px) clamp(35px,4vw,50px);
    color: white;
    font-size: clamp(16px,2vw,20px);
    margin-top: 20px;
    cursor: pointer;
}

.quote-request-button:hover{
    opacity: 0.8;
}

.quote-request-button:active{
    opacity: 0.6;
}

.hidden{
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(10px);
}

.show{
    opacity: 1;
}

.ham-menu{
    width: clamp(35px,5vw,50px);
    cursor: pointer;
    display: none;
}
@media(max-width: 1100px){
    .quote-request{
        display: none;
    }
}

@media(max-width:1305px){
    .home-nav{
        display:none;
    }

    .ham-menu{
        display:inline-block;
    }
}
