.services-header-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: clamp(50px,8vw,100px);
}

.services-main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.services-header-text{
    font-size: clamp(42px,7vw,80px);
    margin-bottom: 10px;
    font-weight: 500;
}

.services-subheader-text{
    font-size: clamp(18px,2vw,25px);
    font-weight: normal;
    margin-bottom: clamp(40px,6vw,75px);
}

.service-item{
    background-color: rgba(235,235,235,0.3);
    padding: clamp(20px,3vw,35px) clamp(20px,3vw,35px) clamp(18px,2vw,25px) clamp(20px,3vw,35px);
    display: flex;
    flex-direction: column;
    gap: clamp(12px,2vw,20px);
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 2s ease;
}

.service-item:hover{
    box-shadow: 5px 5px 5px rgba(211,211,211,0.501);
    transform: translateY(-2px);
}

.services-grid{
    width: auto;
    display: grid;
    gap: clamp(25px,3vw,50px);
    grid-template-columns: minmax(300px,450px) minmax(300px,450px) minmax(300px,450px);
}

#services{
    padding: 0;
}

.service-item-icon{
    width: clamp(50px,6vw,80px);
}

.service-item-header{
    font-size: clamp(22px,2.5vw,30px);
}

.service-item-text{
    font-size: clamp(16px,1.6vw,20px);
    color: rgba(17,23,29,0.59);
    line-height: clamp(24px,2.5vw,30px);
}

@media(max-width:1475px){
    .services-grid{
        grid-template-columns: minmax(300px,450px) minmax(300px,450px);
    }
}

@media(max-width:1010px){
    .services-grid{
        grid-template-columns: minmax(300px,450px);
    }
}

.services-images{
    display: flex;
    margin-top: clamp(80px,15vw,200px);
    align-items: center;
    width: 100%;
    position: relative;
    height: 70vh;
}

.service-image{
    min-width: clamp(180px,20vw,300px);
    min-height: clamp(180px,20vw,300px);
    width: 33%;
    transform: scaleX(-1);
}

.service-image-left{
    position: absolute;
    left: -3%;
    top: 10px;
    height: 72%;
}

.service-image-right{
    position: absolute;
    right: 0%;
    top: 10px;
    height: 72%;
}

.service-image-middle{
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleX(-1);
    width: 40%;
    z-index: 1;
    top: -35px;
    height: 85%;
    border-radius: 5px;
}

@media(max-width:1475px){
    .services-images{
        height: 60vh;
    }
}

@media(max-width:1010px){
    .services-images{
        height: 50vh;
    }
}