body{
    background: linear-gradient(
        135deg,
        rgb(20,20,20),
        rgb(30, 30, 30),
        rgb(40,40,40)
    
    );
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    position: relative;
    color: white;
    padding-top: 120px;
   
    
}
html{
    scroll-behavior: smooth;
}
.logo-image{
    width: 85%;
    max-width: 200px;
    
}
.header-div{
    
    position: fixed;
    left: 0px;
    right: 0px;
    top:0px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    background-color: rgb(30, 30, 30);

}
.logo-div{
   min-width: 100px;
 
}
.navigation{
   
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  max-width: 1000px;
  
}
@media(max-width: 1200px ){
    .navigation button{
   width: 700px;
    height: 50px;
    
    cursor: pointer;
    background: transparent;
     color: white ;
     border: 1px solid rgb(45, 43, 43); 
    margin-right: 0px;
    transition: opacity 2s;
        
}
}
@media(max-width: 775px ){
    
    .header-div{
    height: 100px;
}

}
 .navigation button{
   width: 150px;
    height: 50px;
    
    cursor: pointer;
    background: transparent;
     color: white ;
     border: none; 
    margin-right: 20px;
    transition: opacity 2s;
    font-size: 18px;
        
}
.navigation button:hover{
   box-shadow: 4px 4px 4px rgba(50,50,50,0.8); 
   background-color: rgb(20, 20 20);
}

.navigation button:active{
   box-shadow: 5px 5px 5px rgba(50,50,50,0.8);
   background-color: rgba(16, 14, 14, 0.7); 
}



@media(max-width: 1000px ){
    .navigation button{
   width: 100px;
    height: 50px;
    
    cursor: pointer;
    background: transparent;
     color: white ;
     
    margin-right: 20px;
    transition: box-shadow 0.15s;
    font-size: 14px;
        
}
.home-text-div{
        padding-top: 50px;
    }
}

@media(max-width: 900px){
    body{
        padding-top: 0px
    }
    .navigation button{
        width: 75px;
    }
    .home-text-div{
        padding-top: 30px;
    }
}
.hero-image-div{
    width: 500px;
    
}
.hero-image-1{
    margin-top: 100px;
    width: 100%;
}
.hero-image-2{
    width: 100%
}
.home-main-sect{
   display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-text-div{
    
    font-weight: bold;
    padding-left: 50px;
}
.home-text-title{
    font-size: 65px;
}
.home-text-bullet{
    font-size: 40px;
}
.home-text-bullet{
    list-style-type: none;
}
.home-text-bullet li{
    margin-bottom: 30px;
}
.delivery-info-text{
    font-size: 25px;
    margin: 100px 0px 100px -20px;
}

.home-buttons-div{
    display: flex;
    align-items: center;
    margin-top: -100px;
   
   
}
.home-buttons-div button{
    width: 300px;
    height: 75px;
    font-size: 20px;
    border-radius: 75px;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.176);
    margin-right: 50px;
    color: white;
    transition: background-color 0.2s;
    
}

@media(max-width: 1700px){
    .home-buttons-div{
        margin-top: 50px;
    }
}
@media(max-width: 1600px){
    .home-buttons-div{
        margin-top: 0px;
    }
}

.home-buttons-div button:hover{
    background-color: aliceblue;
    color: black;
}
.home-buttons-div button:active{
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

